// SIDEBAR AND MAIN CONTENT BLOCKS

.container__content {
    background-color: red;
    height: 100%;
    display: flex;

    &__sidebar {
        background-color: #fff;
        flex: 1 0 30%;
    }
}

