// SIDEBAR AND MAIN CONTENT BLOCKS

.container__content {
    height: 100%;
    display: flex;

    // SIDEBAR

    &__sidebar {
        background-color: #fff;
        flex: 1 0 30%;

        &__recipe {
            background-color: $color-secondary-light;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem 2.5rem;

            &__title {
                margin-left: 2rem;
                font-weight: 400;
            }
        }
    }  

    &__mainContent{

        &__dishPicture {
            text-align: center;
        }

        &__dishInfo {
            background-color: $color-primary;
            display: flex;
            justify-content: center;
            padding: 2rem;

            &__servings {
                display: flex;
            }
        }

        &__dishInfo > * {
           padding: .5rem 2rem;
        }
    }
}

 #sample-picture {
    height: 5rem;
    width: 5rem;
    border-radius: 100rem;
 }