.container__header {
    background-color: $color-primary;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        max-height: 10rem;
    }

    &__buttons {
        display: flex;

        &__addRecipe,
        &__savedRecipes {
            margin: 0 1rem;
        }
    }
}