$color-primary: #EA5455;
$color-primary-light: lighten(#EA5455, 20);
$color-primary-lighter: lighten(#EA5455, 25);

$color-secondary: #FDE9C9;


$almost-white: #fdf9f2;

$very-light-transparent-greyish: hsla(0, 0%, 93%, 0.452);
$very-dark-grey-text: #363636;

// BUTTONS 