$color-primary: #41444b;
$color-primary-light: lighten(#41444b, 20);
$color-primary-lighter: lighten(#41444b, 25);
$color-secondary: #51565C;
$color-secondary-light: lighten(#586E72, 50);

$brick-red: #D1495B;
$metallic-seaweed: #00798C;
$lapis-lazuli: #30638E;
$indigo-blue: #003D5B;