.btn {
    background-color: $color-secondary;
    color: $color-primary;
    font-weight: 500;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.btn:hover {
    cursor: pointer;
    transform: translate(.1rem, -.1rem);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.6);
}

.btn:active {
    transform: translate(-.1rem, .1rem);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
}

button {
    font-size: inherit;
    border: none;
}
