*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

button {
  background: none;
}

i {
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif;
}

.btn {
  background-color: none;
  color: #FDE9C9;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  border-bottom: 4px solid #FDE9C9;
  cursor: pointer;
  margin: 0.25rem;
  /* offset-x | offset-y | blur-radius | color */
}
@media (max-width: 1225px) {
  .btn {
    padding: 0.5rem 1.25rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 1028px) {
  .btn {
    font-size: 1.3rem;
    text-align: center;
  }
}
@media (max-width: 925px) {
  .btn {
    font-size: 1.1rem;
  }
}
@media (max-width: 670px) {
  .btn {
    font-size: 2rem;
  }
}

.btn-secondary {
  background-color: none;
  color: #FDE9C9;
  background-color: #EA5455;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  border-bottom: 4px solid #FDE9C9;
  cursor: pointer;
  margin: 0.25rem;
  /* offset-x | offset-y | blur-radius | color */
}
@media (max-width: 1225px) {
  .btn-secondary {
    padding: 0.5rem 1.25rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 1028px) {
  .btn-secondary {
    font-size: 1.3rem;
    text-align: center;
  }
}
@media (max-width: 925px) {
  .btn-secondary {
    font-size: 1.1rem;
  }
}
@media (max-width: 670px) {
  .btn-secondary {
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  #searchBtnText {
    display: none;
  }
}

@media (max-width: 670px) {
  #saveRecipeText,
#myRecipesText {
    display: none;
  }
}

.btn:hover {
  background-color: #fde5bf;
  color: #EA5455;
}

.btn:active {
  background-color: #fce1b5;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
}

input {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
}

#searchRecipe {
  width: 40rem;
}
@media (max-width: 1140px) {
  #searchRecipe {
    width: 30rem;
  }
}
@media (max-width: 1000px) {
  #searchRecipe {
    width: 20rem;
  }
}
@media (max-width: 700px) {
  #searchRecipe {
    width: 15rem;
  }
}
@media (max-width: 670px) {
  #searchRecipe {
    width: 25rem;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

.container {
  background-color: #fdf9f2;
  display: flex;
  flex-direction: column;
  max-width: 150rem;
}
@media (max-width: 620px) {
  .container {
    width: 52rem;
  }
}
@media (max-width: 530px) {
  .container {
    width: 43rem;
  }
}
@media (max-width: 450px) {
  .container {
    width: 40rem;
  }
}

.container__header {
  background-color: #EA5455;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150rem;
}
@media (max-width: 670px) {
  .container__header {
    justify-content: baseline;
  }
}
@media (max-width: 450px) {
  .container__header {
    flex-direction: column;
    height: 13rem;
    align-items: center;
    justify-content: center;
  }
}
.container__header__searchBar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media (max-width: 620px) {
  .container__header__searchBar {
    width: 12rem;
  }
}
@media (max-width: 450px) {
  .container__header__searchBar {
    width: auto;
  }
}
@media (max-width: 670px) {
  .container__header__searchBar__btn {
    display: none;
  }
}
.container__header__logo {
  max-height: 10rem;
  cursor: pointer;
}
@media (max-width: 1030px) {
  .container__header__logo {
    max-height: 7rem;
  }
}
@media (max-width: 750px) {
  .container__header__logo {
    max-height: 6rem;
  }
}
@media (max-width: 530px) {
  .container__header__logo {
    max-height: 5rem;
  }
}
.container__header__buttons {
  display: flex;
  flex: 1;
  justify-content: center;
}
@media (max-width: 670px) {
  .container__header__buttons {
    justify-content: flex-end;
  }
}

.container__content {
  display: flex;
}
@media (max-width: 650px) {
  .container__content {
    flex-direction: column;
  }
}
.container__content__backToResults {
  display: none;
}
@media (max-width: 650px) {
  .container__content__backToResults {
    display: flex;
  }
}
.container__content__mainContent {
  flex: 1;
  flex-shrink: 0;
}
.container__content__mainContent__dishPicture {
  text-align: center;
}
.container__content__mainContent__dishInfo {
  background-color: none;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.container__content__mainContent__dishInfo__servings {
  display: flex;
}
.container__content__mainContent__dishInfo > * {
  padding: 0.5rem 2rem;
}
.container__content__mainContent__title {
  padding: 1rem 0;
}
.container__content__mainContent__ingredients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container__content__mainContent__ingredients__heading {
  border-bottom: 3px solid #EA5455;
}
.container__content__mainContent__ingredients__list {
  list-style-type: none;
  columns: 2;
  padding: 2rem 2rem 2rem 0;
}
.container__content__mainContent__ingredients__list p {
  padding: 1rem;
}
.container__content__mainContent__directions {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container__content__mainContent__directions__heading {
  border-bottom: 3px solid #EA5455;
  margin-bottom: 2rem;
}
.container__content__mainContent__directions__text {
  padding-left: 2rem;
}

#recipe-picture {
  max-width: 100%;
}

#preview-picture {
  height: 5rem;
  width: 5rem;
  border-radius: 100rem;
}

.container__content__sidebar {
  background-color: #fdf9f2;
  padding-top: 0.5rem;
  flex: 1 0 30%;
  max-width: 42rem;
  padding: 0.5rem 1rem 0 0;
  flex-direction: column;
}
@media (max-width: 650px) {
  .container__content__sidebar {
    display: none;
    max-width: fit-content;
    flex-direction: column;
  }
}
.container__content__sidebar__recipe {
  background-color: rgba(237, 237, 237, 0.452);
  cursor: pointer;
  background-color: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2.5rem;
  margin-bottom: 0.5rem;
}
.container__content__sidebar__recipe__title {
  margin-left: 2rem;
  font-weight: 400;
}
.container__content__sidebar__recipe:hover {
  background-color: #EA5455;
}

/*# sourceMappingURL=style.css.map */
