*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

button {
  background: none;
}

i {
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif;
}

.btn {
  background-color: #51565C;
  color: #e0e0e0;
  font-weight: 300;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  border: 3px solid #51565C;
  cursor: pointer;
  margin: 0.25rem;
  /* offset-x | offset-y | blur-radius | color */
}
@media (max-width: 1225px) {
  .btn {
    padding: 0.5rem 1.25rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 1028px) {
  .btn {
    font-size: 1.3rem;
    text-align: center;
  }
}
@media (max-width: 925px) {
  .btn {
    font-size: 1.1rem;
  }
}
@media (max-width: 670px) {
  .btn {
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  #searchBtnText {
    display: none;
  }
}

@media (max-width: 670px) {
  #saveRecipeText,
#myRecipesText {
    display: none;
  }
}

.btn:hover {
  background-color: #4c5157;
}

.btn:active {
  background-color: #474c51;
}

button {
  font-size: inherit;
  border: none;
}

input {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
}

#searchRecipe {
  width: 40rem;
}
@media (max-width: 1140px) {
  #searchRecipe {
    width: 30rem;
  }
}
@media (max-width: 1000px) {
  #searchRecipe {
    width: 20rem;
  }
}
@media (max-width: 700px) {
  #searchRecipe {
    width: 15rem;
  }
}
@media (max-width: 670px) {
  #searchRecipe {
    width: 25rem;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

.container {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  max-width: 150rem;
}

.container__header {
  background-color: #303841;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150rem;
}
@media (max-width: 670px) {
  .container__header {
    justify-content: baseline;
  }
}
.container__header__searchBar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media (max-width: 670px) {
  .container__header__searchBar__btn {
    display: none;
  }
}
.container__header__logo {
  max-height: 10rem;
  cursor: pointer;
}
@media (max-width: 1030px) {
  .container__header__logo {
    max-height: 7rem;
  }
}
@media (max-width: 750px) {
  .container__header__logo {
    max-height: 6rem;
  }
}
.container__header__buttons {
  display: flex;
  flex: 1;
  justify-content: center;
}
@media (max-width: 670px) {
  .container__header__buttons {
    justify-content: flex-end;
    margin-left: 6rem;
  }
}
.container__header__buttons__addRecipe, .container__header__buttons__savedRecipes {
  margin: 0 1rem;
}

.container__content {
  display: flex;
}
.container__content__sidebar {
  background-color: #e0e0e0;
  padding-top: 0.5rem;
  flex: 1 0 30%;
  max-width: 44rem;
  padding: 0.5rem;
}
.container__content__sidebar__recipe {
  cursor: pointer;
  background-color: #9da2a9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2.5rem;
  margin-bottom: 0.5rem;
}
.container__content__sidebar__recipe__title {
  margin-left: 2rem;
  font-weight: 400;
}
.container__content__sidebar__recipe:hover {
  background-color: #4c5157;
}
.container__content__mainContent {
  flex: 1;
  flex-shrink: 0;
}
.container__content__mainContent__dishPicture {
  text-align: center;
}
.container__content__mainContent__dishInfo {
  background-color: #9da2a9;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.container__content__mainContent__dishInfo__servings {
  display: flex;
}
.container__content__mainContent__dishInfo > * {
  padding: 0.5rem 2rem;
}
.container__content__mainContent__title {
  padding: 1rem;
}
.container__content__mainContent__ingredients {
  text-align: left;
}
.container__content__mainContent__ingredients__heading {
  padding: 1rem;
}
.container__content__mainContent__ingredients__list {
  list-style-type: none;
  columns: 2;
  padding: 2rem;
}
.container__content__mainContent__ingredients__list p {
  padding: 1rem;
}
.container__content__mainContent__directions {
  padding: 2rem;
}
.container__content__mainContent__directions__heading {
  text-align: center;
  margin-bottom: 2rem;
}

#recipe-picture {
  max-width: 100%;
}

#preview-picture {
  height: 5rem;
  width: 5rem;
  border-radius: 100rem;
}

/*# sourceMappingURL=style.css.map */
