.btn {
    background-color: $color-secondary;
    color: $almost-white;
    font-weight: 300;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    border: 3px solid $color-secondary;
    cursor: pointer;
    margin: .25rem;
    /* offset-x | offset-y | blur-radius | color */
    // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);

    @media (max-width: 1225px) {
        padding: .5rem 1.25rem;
        font-size: 1.5rem;
    }

    @media (max-width: 1028px) {
        font-size: 1.30rem;
        text-align: center;
    }
    @media (max-width: 925px) {
        font-size: 1.1rem;
    }
    @media (max-width: 670px) {
        font-size: 2rem;
    }
}

#searchBtnText {
    @media(max-width:750px){
        display: none;
    }
}

#saveRecipeText,
#myRecipesText {
    @media(max-width:670px){
        display: none;
    }
}

.btn:hover {
    background-color: darken($color-secondary, 2);
}

.btn:active {
    background-color: darken($color-secondary, 4);
}

button {
    font-size: inherit;
    border: none;
}
