// SIDEBAR AND MAIN CONTENT BLOCKS

.container__content {
    // height: 100%;
    display: flex;

    // SIDEBAR

    &__sidebar {
        background-color: $almost-white;
        padding-top: .5rem;
        flex: 1 0 30%;
        max-width: 44rem;
        padding: .5rem 0;

        &__recipe {
            cursor: pointer;
            background-color: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem 2.5rem;
            margin-bottom: .5rem;

            &__title {
                margin-left: 2rem;
                font-weight: 400;
            }
        }

        &__recipe:hover {
            background-color: $color-primary;
        }

      
    }  

    // MAIN CONTENT / MAIN RECIPE INFORMATION

    &__mainContent{

        flex: 1;
        flex-shrink: 0;

        &__dishPicture {
            text-align: center;
        }

        &__dishInfo {
            background-color: none;
            display: flex;
            justify-content: center;
            padding: 2rem;

            &__servings {
                display: flex;
            }
        }

        &__dishInfo > * {
           padding: .5rem 2rem;
        }

        &__title {
            padding: 1rem 0;
        }
        
        &__ingredients {
            display: flex;
            flex-direction: column;
            align-items: flex-start;


            &__heading {
                border-bottom: 3px solid $color-primary;
            }

            &__list {
                list-style-type: none;
                columns: 2;
                padding: 2rem 2rem 2rem 0;

                p {
                    padding: 1rem;
                }
            }
        }

        &__directions {
            list-style-type: none;
            padding: 2rem 0;
            display: flex;
            // text-align: center;
            flex-direction: column;
            // justify-content: center;
            align-items: flex-start;

            &__heading {
                border-bottom: 3px solid $color-primary;
                margin-bottom: 2rem;
            }

            &__text {
                padding-left: 2rem;
            }
        }
    }
}

#recipe-picture {
    max-width: 100%;
}

 #preview-picture {
    height: 5rem;
    width: 5rem;
    border-radius: 100rem;
 }