// SIDEBAR AND MAIN CONTENT BLOCKS

.container__content {
    // height: 100%;
    display: flex;

    // SIDEBAR

    &__sidebar {
        background-color: $almost-white;
        padding-top: .5rem;
        flex: 1 0 30%;
        max-width: 44rem;
        padding: .5rem;

        &__recipe {
            cursor: pointer;
            background-color: $color-secondary-light;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem 2.5rem;
            margin-bottom: .5rem;

            &__title {
                margin-left: 2rem;
                font-weight: 400;
            }
        }

      
    }  

    // MAIN CONTENT / MAIN RECIPE INFORMATION

    &__mainContent{

        flex: 1;
        flex-shrink: 0;

        &__dishPicture {
            text-align: center;
        }

        &__dishInfo {
            background-color: $color-secondary-light;
            display: flex;
            justify-content: center;
            padding: 2rem;

            &__servings {
                display: flex;
            }
        }

        &__dishInfo > * {
           padding: .5rem 2rem;
        }

        &__title {
            padding: 1rem;
        }
        
        &__ingredients {
            text-align: left;

            &__heading {
                padding: 1rem;
            }

            &__list {
                list-style-type: none;
                columns: 2;
                padding: 2rem;

                p {
                    padding: 1rem;
                }
            }
        }

        &__directions {
            padding: 2rem;

            &__heading {
                text-align: center;
                margin-bottom: 2rem;
            }
        }
    }
}

 #preview-picture {
    height: 5rem;
    width: 5rem;
    border-radius: 100rem;
 }