.container {
    // height: 100%;
    background-color: $almost-white;
    display: flex;
    flex-direction: column;
    max-width: 150rem;

    @media(max-width: 620px) {
        width: 52rem;
    }
    @media(max-width: 530px) {
        width: 43rem;
    }
    @media(max-width: 450px) {
        width: 40rem;
    }
}